*.lo
*.o
Makefile
config.h
config.log
config.status
doc/Makefile
doc/editline.3
doc/editline.7
doc/editrc.5
examples/.deps/
examples/.libs/
examples/Makefile
examples/fileman
examples/tc1
examples/wtc1
libedit.pc
libtool
src/.deps/
src/.libs/
src/Makefile
src/common.h
src/emacs.h
src/fcns.h
src/func.h
src/help.h
src/libedit.la
src/vi.h
stamp-h1

# Rust build artifacts
/target
